
<div class="l-footer c-container">
  <nav class="l-footer__nav">
    <div class="l-footer__logo">
      <a href="index.html"><img src="../assets/images/logo.svg" alt="urbnstep"></a>
    </div>
    <ul class="l-footer__link">
      <li><a href="./product-list.html">商品列表</a></li>
      <li><a href="./brand-story.html">品牌故事</a></li></ul>
  </nav>

  <div class="l-footer__copyright">
      <p>Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
  </div>

</div>
