
<div class="l-header">
  <nav class="l-header__nav">
    <div class="l-header__nav-links">
      <h1><a href="index.html"><img src="../assets/images/logo.svg" alt="urbnstep"></a></h1>
      <a class="only-pc" href="product-list.html">商品列表</a>
      <a class="only-pc" href="brand-story.html">品牌故事</a>
    </div>
    <div class="l-header__member-icon"><a href=""><img src="../assets/images/header-icon.png" alt=""></a></div>

  </nav>  
</div>
