@use "../global" as *;

.c-container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;

  margin: 0 auto;

}

.container-sm{
  max-width: 880px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;

}
