@use "../global" as *;

.c-heading{
  line-height: 1.2;

  &--black{
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 24px;
  }

  &--green{
    font-weight: bold;
    font-size: 20px;
    color: $text--green;
  }

  
}
