@use "../global" as *;

.c-heading{
  line-height: 1.2;
  font-weight: 700;

  &.--h2{
    font-size: 32px;
  }
  &.--h3{
    font-size: 28px;
    @include sp{
      font-size: 24px;
    }
  }
  &.--h4{
    font-size: 24px;
    @include sp{
      font-size: 20px;
    }
  }
  &.--h5{
    font-size: 20px;
  }

  &.--black{
    color: $text--default;
  }
  &.--green{
    color: $text--green;
  }

  
}
