@use "../global" as *;

.c-promotional-info{
  background-color: #E8FEC5;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;  
  align-items: center;  
  
  &__text{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    @include sp{
      font-size: 20px;
    }
  }
  &__btn{
    display: inline-block;
    margin-left: 24px;
    color: #fff;
    background-color: #212529;
    padding: 12px 24px;
    border-radius: 4px;
    @include sp{
      margin-left: 16px;
      padding: 8px 16px;
    }
  }
}
