@use "../global" as *;

.p-product-list{
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;

  @include sp{
    margin-top: 12px;
    margin-bottom: 32px;
  }
  &__title{
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    @include sp{
      padding-top: 9.5px;
      padding-bottom: 9.5px;
    }
  }
  &__filter-bar{
    flex-shrink: 0;
    // min-width: 162px;
   li+li {
    margin-top: 16px;
   }
  }
  &__filter-link{
    padding-top: 12px;
    padding-bottom: 12px;
    display: inline-block;
    font-weight: 500;
    
    &.active{
      color: #57A203;
    }
  }
  &__cards{
    width: 83.02%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 48px 24px;
    
    @include tab{
      width: 78%;
      grid-template-columns: repeat(2,1fr);
    }
    @include sp{
      width: 100%;
      grid-template-columns: repeat(2,1fr);
      gap: 24px 12px;      
    }
  }
  &__name{
    display: block;
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 1.2;
    @include sp{
    margin-top: 8px;
    margin-bottom: 0px;
    }
  }
  &__price{
    display: block;
    font-weight: 500;
  }

  &__page-btn{
    position: relative;

    margin: 0 auto;
    margin-bottom: 80px;    
    padding: 0px 52px;
    display: flex;
    column-gap: 8px;

    width: fit-content;
    display: flex;
    align-items: center;
    @include sp{
      margin-bottom: 40px;
    }
     .--number{
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      
      &:hover{
        background-color: #F8F9FA;
        font-weight: 500;
      }
      &.active{
        background-color: #C0FA73;
        font-weight: 500;
      }
    }
    
    & .--arrow{
      display: inline-block;      
      position: absolute;
      top: 50%;
      transform: translateY(-50%);  
      img{
        width: 9;
        height: 16px;
       }     
      }
    & .--arrow.--left{
      left: 15.6px;
      }
    & .--arrow.--right{
      right: 15.6px;
      }

    & .disabled-btn {
      pointer-events: none;
      opacity: 0.5; 
      cursor: not-allowed;
    }   
  }

}

