@use "../global" as *;


.p-top-nav{
  display: none;
  
  @include sp{
    display: block;
  }
  &__row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
  &__link{
    display: inline-block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    background-color: #F5FEE7;
    text-align: center;

    &.active{
      background-color: #E8FEC5;
    }
  }
  
}

.p-top-mv{
  // position: relative;
  background-image: url('../images/top/top-mv.png'); /* 背景圖片 */
  background-repeat: no-repeat; /* 是否重複 */
  background-position: center center; /* 對齊位置 */
  background-size: cover; /* 圖片縮放方式 */
  min-height: 800px;
  @include sp{
    background-image: url('../images/top/top-mv-sp.png'); /* 背景圖片 */
    min-height: 480px;

  }
  &__content{
    min-height: 800px;
    height: 100%;
    // border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10.41%;
    @include sp{
      padding-left: 6.4%;
      min-height: 480px;
    }
  }
  &__heading{
    color: #fff;
    
    &.--lg{
      font-size: 64px;
      font-weight: 700;
      padding-bottom: 16px;
      @include sp{
        font-size: 48px;
        padding-bottom: 2vw;
      }
    }
    &.--sm{
      margin-bottom: 48px;
      font-size: 28px;
      font-weight: 700;
      @include sp{
        font-size: 20px;
        margin-bottom: 8vw;
      }
    }
  }
  // &__btn{
  //   display: inline-block;
  //   padding: 12px 24px;
  //   color: $text--default;
  //   background-color: $btn-bg;
  //   border-radius: 4px;
  //   font-weight: 500;
  // }


}

.p-top-newArrival{
  // outline: #a20303 1px solid;
  max-width: 1320px;
  margin: 0 auto;
  padding: 64px 12px;
  padding-bottom: 0;

  @include sp{
    padding-top: 40px;
  }
  &__heading{
    text-align: center;
    margin-bottom: 32px;
    @include sp{
      margin-bottom: 24px;
    }
    span{
      display: block;
    }
    & .--en{
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 48px;
      @include sp{
        margin-bottom: 8px;
        font-size: 32px;
      }
    }
    & .--zh{
      font-weight: 700;
      font-size: 32px;
      @include sp{
        font-size: 24px;
      }
    }
  }
  &__cards{
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 24px;

    @include sp{
      padding-bottom: 40px;
      gap: 24px 12px;
    }
    span{
      display: block;
    }
  }
  &__card-name{
    margin-top: 12px;
    margin-bottom: 4px;  
    font-weight: 700;
    font-size: 20px;
    
    @include sp{
      margin-top: 8px;
      margin-bottom: 0px;
      font-size: 16px;
    }
  }
  &__card-price{
    font-weight: 500;
    line-height: 150%;
  }
}

.p-top-newArrival__hotSelling{
    // outline: #a20303 1px solid;

  padding-top: 64px;
  padding-bottom: 64px;

  @include sp{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.p-top-newArrival{
  
  &__hotSelling-heading{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    @include sp{
      font-size: 24px;
    }
  }
  &__hotSelling-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
   
    @include sp{
      column-gap: 16px;
      overflow-x: auto;
    }
  }
  &__hotSelling-card{
    position: relative;
    background-color: #F8F9FA;
    img{
      // width: 306px;
      // height: 306px;
      @include sp{
        width: 300px;
        height: 300px;    
        
        max-width: none;
      }
    }
  }
  &__hotSelling-tag{
    padding: 8px 12px;
    display: inline-block;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: #57A203;
    background-color: #F5FEE7;
    line-height: 1.5;
  }
}

.p-top-collaboration{
  margin-top: 48px;
  margin-bottom: 48px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../images/top/collaboration-bg.png'); 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include sp{
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 64px;
    padding-bottom: 64px;

    background-image: url('../images/top/collaboration-bg-sp.png'); 
  }

  &__heading{
    position: relative;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    display: flex;
    align-items: center;

    @include sp{
      display: none;
    }
    &::before{
      top: -24px;
      left: -80px;
      position: absolute;
      content: "";
      display: inline-block;        
      width: 48px;
      height: 48px;
      background: url("../images/top/collaboration-star.svg") center / contain no-repeat;
    }
    & .--symbol{
      color: #C0FA73;
      margin: 0 24px;
      font-size: 40px;
      display: inline-block;      
    }
    
  }
  &__subTitle{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    @include sp{
      font-size: 20px;
    }
  }
  &__text{
    position: relative;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 1.5;
    color: #ADB5BD;
    @include sp{
      text-align: center;
      font-size: 16px;
    }
    
    &::before{
          // outline: #a20303 1px solid;
      bottom: -64px;
      right: -76px;
      position: absolute;
      content: "";
      display: inline-block;  
      width: 76px;
      height: 64px;
      background: url("../images/top/collaboration-sparkle.svg") center / contain no-repeat;
      
      @include sp{
        bottom: -46px;
        right: -64px;
      }
    }
  }

  &__heading-sp{
    display: none;
    position: relative;

     &::before{
      top: -24px;
      left: -104px;
      position: absolute;
      content: "";
      display: inline-block;             /* 或 block */
      width: 48px;
      height: 48px;
      background: url("../images/top/collaboration-star.svg") center / contain no-repeat;
    }

    @include sp{
      margin-bottom: 16px;
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 32px;
      font-weight: 700;

     
    }
    & .--symbol{
      font-size: 28px;
      font-weight: 700;
      color: #C0FA73;
    }
    
  }
}

.p-top-series{
  max-width: 1320px;
  margin: 0 auto;
  padding: 64px 12px;

  @include sp{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__heading{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    @include sp{
      font-size: 24px;
    }
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
   
    @include sp{
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
  }
  &__card{
    position: relative;
    display: grid;
    place-items: center; 

  }
  &__text{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    position: absolute;
    font-weight: 500;
    color: #fff;
    background-color: #0006;
    
    display: flex;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center;      
    span{
      display: block;
    }
    & .--en{
      margin-bottom: 8px;
      font-size: 28px;
      @include pc-small{
        font-size:  clamp(16px, 2vw, 18px);
      }
      @include sp{
        font-size: 16px;
      }
    }
    & .--zh{
      font-size: 24px;
      @include pc-small{
        font-size:  clamp(16px, 2vw, 18px);
      }
      @include sp{
        font-size: 16px;
      }
    }
  }
}

.p-top-inspiration{
  max-width: 1320px;
  margin: 0 auto;
  padding: 64px 12px;
  padding-bottom: 112px;

  @include sp{
    padding-top: 40px;
    padding-bottom: 64px;
  }
  &__heading{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
    @include sp{
      font-size: 24px;
    }
  }

  &__pic-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 8px;

    @include sp{
      display: flex;
      overflow-x: auto;
    }
    .item{
      @include sp{
        flex: 0 0 300px;
      }
    }
    .item img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    .item5 { 
      grid-column: span 2; 
      grid-row: span 2; 
      @include sp{
        grid-column: auto;
        grid-row: auto;
      }
    }
    .item6 { 
      grid-column: span 2; 
      grid-row: span 2; 
      @include sp{
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}
